__pycache__/
build/
*.egg-info/
test/training/results/
video_test/
.vscode/
trace.json
pyprof.out
/render/

# Generated documentation
docs/source/generated/
docs/_site
_site
docs/dev

# MACOS
.ds_store
.DS_Store
.DS_STORE
